.bld{
    font-weight: bold;
}
.round{
    border-radius: 50%;
}
h5{
    text-align: center;
    color:brown;
    font-weight: 900;
    font-size: large;

}

a, u {
    margin: 615px;
    text-decoration: none;
  
    
  }

.order-success{
    background-color: green;
    color:white
}
.back{
    text-decoration: none;
}