footer{
    //background-color: rgb(165, 42, 48);
    //border-top: 1px solid rgb(255, 0, 85);
    color:white;
    position: absolute;
    width:100%;
    height:30px;
    bottom:0;
    margin: 0;
    //display: block;

    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    // height: 160px;
    // align-items: flex-end;
    // position: relative;
    // bottom: 0;
    // margin: 0;
    // background-color: rgb(165, 42, 48);
    // color:white;

    

}
.rights{
    background-color: rgb(165, 42, 48);
    text-align: center;
    padding-top: 2em;
    
    //display: flex;
}

a, u {
   // margin: 625px;
   text-align: center;
    text-decoration: none;
    color:white;
  
    
  }