header{
    background-color:rgb(253 16 16 / 87%);
    border-bottom: 2px solid red;
}
h1{
    color: white;
    position: relative;
  top: 18px;
  left: 10px;
   
}
a,h3{
    margin:0px 28px;
    color: white;
    text-decoration: none;
}
li{
    margin: 0px;
    list-style: none;
    text-align: left;
    padding: 0px;

}
img{
        float: left;
        width: 100px;
        height: 50px;
        background: #555;
      
}