header{
    background-color: #9f330f;
    border-bottom: 2px solid red;
}
h1{
    color: white;
   
}
a,h3{
    margin:0px 28px;
    color: white;
    text-decoration: none;
}
li{
    margin: 0px;
    list-style: none;
    text-align: left;
    padding: 0px;

}