div{
    display:inline-block;
   
    text-align: left;
  margin: 0 -2px;
  padding: 10px;
}
ul{
    list-style: none;
}
.buynow{
    align-items: center;
}
.item-display{
    display:flex;
    background-color: green;
    color:white
}

.sticky {
    background: green;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}
